tags: {{ auditbeat_tags | to_json }}

auditbeat.modules:
  {{ auditbeat_modules_conf | to_json }}

{% if auditbeat_output_logstash_enabled %}
output.logstash:
  # The Logstash hosts
  hosts: {{ auditbeat_output_logstash_hosts | to_json }}

{% endif %}

{% if auditbeat_ssl_certificate_file and auditbeat_ssl_key_file %}
  # Optional SSL. By default is off.
  ssl:
    # List of root certificates for HTTPS server verifications
    #certificate_authorities: ["/etc/pki/root/ca.pem"]

    # Certificate for SSL client authentication
    certificate: "{{ auditbeat_ssl_dir }}/{{ auditbeat_ssl_certificate_file | basename }}"

    # Client Certificate Key
    certificate_key: "{{ auditbeat_ssl_dir }}/{{ auditbeat_ssl_key_file | basename}}"

    # Controls whether the client verifies server certificates and host name.
    # If insecure is set to true, all server host names and certificates will be
    # accepted. In this mode TLS based connections are susceptible to
    # man-in-the-middle attacks. Use only for testing.
    #insecure: true
    insecure: {{ auditbeat_ssl_insecure }}

    # Configure cipher suites to be used for TLS connections
    #cipher_suites: []

    # Configure curve types for ECDHE based cipher suites
    #curve_types: []
{% endif %}

{% if auditbeat_enable_logging %}
logging:
  ### Auditbeat log
  level: {{ auditbeat_log_level }}

  # Enable file rotation with default configuration
  to_files: true

  # Do not log to syslog
  to_syslog: false

  files:
    path: {{ auditbeat_log_dir }}
    name: {{ auditbeat_log_filename }}
    keepfiles: 7
{% endif %}