tags: {{ auditbeat_tags | to_json }}

auditbeat.modules:
  {{ auditbeat_modules_conf | to_json }}

{% if auditbeat_output_logstash_enabled %}
output.logstash:
  # The Logstash hosts
  hosts: {{ auditbeat_output_logstash_hosts | to_json }}

{% endif %}